img {
  width: 20px;
  height: 20px;
}
.maison {
  position: relative;
  transition: 0.2s;
  left: 0;
}

.maison:hover {
  left: -80px;
}

button {
  display: flex;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  justify-content: center;
  flex-direction: row;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "Home";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -150px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
